<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1">
   
   <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
   
   <link rel="canonical" href="{{ .Permalink }}">
   
   <!-- Open Graph -->
   <meta property="og:site_name" content="{{ .Site.Title }}">
   <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}">
   <meta property="og:type" content="website">
   <meta property="og:locale" content="{{ .Site.LanguageCode | default "en_GB" }}">
   <meta property="og:url" content="{{ .Permalink }}">
   {{ with .Site.Params.social_image }}
   <meta property="og:image" content="{{ . }}">
   <meta property="og:image:alt" content="Page image for {{ $.Site.Title }}">
   <meta property="og:image:width" content="1200">
   <meta property="og:image:height" content="630">
   {{ end }}
   {{ with .Description }}
   <meta property="og:description" content="{{ . }}">
   {{ end }}

   <!-- Twitter -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}">
   {{ with .Description }}
   <meta name="twitter:description" content="{{ . }}">
   {{ end }}
   {{ with .Site.Params.social_image }}
   <meta name="twitter:image" content="{{ . }}">
   <meta name="twitter:image:alt" content="Page image for {{ $.Site.Title }}">
   {{ end }}
   <meta name="twitter:url" content="{{ .Permalink }}">
   {{ with .Site.Params.twitter }}
   <meta name="twitter:site" content="@{{ . }}">
   <meta name="twitter:creator" content="@{{ . }}">
   {{ end }}

   {{ with .Site.Params.facebook }}
   <meta property="article:publisher" content="{{ . }}">
   {{ end }}

   {{ with .Description }}
   <meta name="description" content="{{ . }}">
   {{ end }}

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
   
   <!-- Stylesheets -->
   {{ $css := resources.Get "css/styles.css" }}
   {{ if $css }}
   <link rel="stylesheet" href="{{ $css.RelPermalink }}">
   {{ end }}
   
   <!-- Favicons -->
   {{ with .Site.Params.favicon }}
   <link rel="apple-touch-icon" sizes="180x180" href="{{ . }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ . }}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{ . }}">
   {{ end }}
   
   <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
   
   {{ block "head" . }}{{ end }}
</head>
<body>
	<div id="container">
   {{ partial "header.html" . }}

   {{ block "hero" . }}{{ end }}
   <div style="position: relative;">

      {{ if .Site.Params.wearelive }}
      <section id="live-banner-container" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10;">
         <div id="live-banner">
            <h2>{{ i18n "live-banner" }}</h2>
            <p>{{ i18n "live-banner-extra" }}<br>{{ i18n "live-banner-extra-2" }}</p>

            <div class="links-container">
               <a class="twitch" href="https://www.twitch.tv/inercia_pt" aria-label="Twitch" target="_blank" rel="nofollow">
                  {{ partial "icons/twitch.html" . }}
               </a>
               <a class="yt" href="https://www.youtube.com/watch?v=live_link_here" aria-label="YouTube" target="_blank" rel="nofollow">
                  {{ partial "icons/youtube.html" . }}
               </a>
               <a class="scenesat" href="https://scenesat.com/live_link_here">
                  {{ partial "icons/scenesat.html" . }}
               </a>
            </div>
         </div>
      </section>
      {{ end }}
   </div>

   <main tabindex="-1" id="main-content">
      {{ block "main" . }}{{ end }}
   </main>
   
   {{ partial "footer.html" . }}
   
   <!-- JavaScript -->
   {{ $js := resources.Get "js/main.js" }}
   {{ if $js }}
   <script src="{{ $js.RelPermalink }}"></script>
   {{ end }}
   
   {{ block "scripts" . }}{{ end }}
	</div>
</body>
</html>
